* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none; /* убираем стандартный фон */
  border: none; /* убираем рамку */
  box-shadow: none; /* убираем тень */
  outline: none; /* убираем обводку при фокусе */
  appearance: none; /* сброс стилей по умолчанию */
  -webkit-appearance: none; /* для Safari */
  cursor: pointer; /* чтобы курсор был "рукой" */
}

body {
  font-family: Montserrat;
  letter-spacing: 4%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.categories-title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 16px;
}

.categories-item:not(:last-child) {
  margin-bottom: 8px;
}

.categories-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  opacity: 1;
  border: 1px solid #808080;
  padding-left: 16px;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.item {
  width: 392px;
  border-radius: 8px;
  padding: 16px;
  opacity: 1;
  background-color: #f6f6fe;
}

.input {
  width: 360px;
  height: 40px;
  opacity: 1px;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #808080;
}

.title title-span {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4%;
}

.input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-style {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form {
  width: 360px;
  height: 40px;
  opacity: 1;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #808080;
}

.btn-form {
  width: 86px;
  height: 40px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: #4e75ff;
  color: #ffffff;
  margin-top: 8px;
}
